:root {    
    --bgColor: #0f1016;
    --mainColor: #1c1e27;
    --secondColor: #d14f0e;
    --secondColorLighter: #eb6c2c;
    --mainDark: #d14f0e;
    --secondDark: #77300d;
    --mandatory: #d93025;
    --error: var(--mandatory);
    --success: green;
}


:root:has(#darkModeSwitch:checked) {    
    --bgColor: #FFE2B6;
    --mainColor: #FFD39C;
    --secondColor: #E9773C;
    --secondColorLighter: #eb6c2c;
    --mainDark: #d14f0e;
    --secondDark: #77300d;
    --mandatory: #d93025;
    --error: var(--mandatory);
    --success: green;
}

$bgColor: var(--bgColor);
$mainColor: var(--mainColor);
$secondColor: var(--secondColor);
$secondColorLighter: var(--secondColorLighter);
$mainDark: var(--mainDark);
$secondDark: var(--secondDark);
$mandatory: var(--mandatory);
$error: var(--error);
$success: var(--success);